<!DOCTYPE html>
<html>
<head>
<style>
#cal {
	background: #FFEDF8;
	box-shadow: 0 0 20px #878787;
	height: 208px;
	margin: 20px auto;
	position: relative;
	text-align: center;
	width: 500px;
	height:500px;
}


th{
	color:#B33650;
	font-size:x-large;
}
td{
    color:#B33650;
	font-size:22px;
}
#month{
	background:#FF4A71;
	font-size:xx-large;
}
.weather{
	width:100%;
	text-align:center;
	font-size:xx-large;
	color:#B33650;
    background:#FFEDF8;
}
</style>
</head>
<body>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
<div ng-app="Calendar" ng-controller="calController">

<table id="cal" align="center">
	<tr id="month" ><td  colspan='7' align="center" style="color:white; font-size:xx-large;">{{month}}</td></tr>
	<tr ng-init="weekdays=['Sun','Mon','Tues','Wed','Thur','Fri','Sat']">
		<th ng-repeat="day in weekdays">
			{{day}}
		</th>
	</tr>
	<tr ng-repeat="row in dates">
		<td ng-repeat="col in row track by $index">
		 {{col}}
		</td>
	</tr>
</table>

<div class="weather">  Weather( Refresh page 5 to 6 times ) </div>
<div  ng-controller="weather"  class="weather"> 


    {{result.results.channel.item.condition.temp + " " + result.results.channel.item.condition.text}}


</div>
</div> 

<script >

    var app=angular.module("Calendar", [])
         app.controller("calController", function($scope) {
			$scope.dates=fillTable();
            $scope.month= Month();  
         });	
		app.controller('weather', function($scope, $http) {
			  $http.get("https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22islamabad%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys")
			  .success(function (response) {
			  $scope.result = response.query;}
			  );
		});	 

	var dateNow = new Date();
	var m = dateNow.getMonth();
	var year = dateNow.getFullYear();
	var mNames = ["January","February","March","April","May","June","July","August","September","October","November", "December"];
					
	var x; 
	
	function initArray(){
	     		x = new Array(6);
				for (var i = 0; i < 6; i++) {
				  x[i] = new Array(7);
				}
	}
	
	function FebDays(){
		 	 //Determing if February (28,or 29)  
				 if (m == 1){
					if ( (year%100!=0) && (year%4==0) || (year%400==0)){
					 return  29;
					}else{
					  return 28;
					}
				 }
	}

	function getFirstDay(){
	
			var day= dateNow.getDay();
			var first=dateNow.getDate();
				 //get day on first of month
				for(;first!=1;){
					if(day<0){
						day=6;
						}
					else{
						day--;
						first--;
					}	
				}
			return day;	
		}
	
	
	function fillTable(){
		
				var date= dateNow.getDate();
				var day= dateNow.getDay();
				var dayPerm = ["31", ""+FebDays()+"","31","30","31","30","31","31","30","31","30","31"]
                initArray();//initialize array
				 		 
			
				var firstDay=getFirstDay();
				
			    var count=1;
				
				for (var i=0;i<6;i++){
					for(var j=0;j<7;j++){
					x[i][firstDay]=count++;
					firstDay++;
					if(count>parseInt(dayPerm[m])){return x;}
					if(firstDay==7){firstDay=0;}	
					}
				}
				
				return x;
			}
		function Month() {
					 var dateNow = new Date();
					 var mNames = ["January","February","March","April","May","June","July","August","September","October","November", "December"];	 
					 return mNames[dateNow.getMonth()]+", "+dateNow.getFullYear();
			  }
				


			 
  
</script>


</body>
</html>
